---
layout: default
---
<!-- " -->

<!--- List Section --->
<section id="emoji-list">

  {% include search.html %}

  <ul class="list center">
    {% for group in site.emojis %}
      {% for emoji in group.emojis %}
        <li class="list-item" data-group="{{ group.name | slugify }}">
          <svg class="emoji">
            <use xlink:href="#emoji-{{ emoji.hex | remove: '&#x' | replace: ';', '-' }}" />
          </svg>
          <h4 class="name">{{ emoji.name }}</h4>
          <section class="item-actions">
            <a href="http://emojipedia.org/{{ emoji.html }}" target="_blank" data-tooltip="Emojipedia">
              <svg class="icon action-icon">
                <use xlink:href="#icon-book" />
              </svg>
            </a>
            <div class="item-copy" data-tooltip="Copy" data-copy="{{ emoji.html }}">
              <svg class="icon action-icon">
                <use xlink:href="#icon-clipboard" />
              </svg>
            </a>
          </section>
          <section class="list-item-code">
            <code class="html">{{ emoji.html | escape }};</code>
            <code class="hex">{{ emoji.hex | escape }};</code>
          </section>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

</section>

<script src="{{ 'js/list.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/clipboard.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/scripts.js' | prepend: site.baseurl }}"></script>
