---
layout: default
---
<!-- " -->

<!--- List Section --->
<section id="emoji-list">

  <div class="search-form bg-silver">
    <label class="search-label" for="search">
      <svg viewBox="0 0 30 30">
        <path d="M 13.515625,7.5 C 10.20479,7.5 7.5000057,10.204725 7.5,13.515625 c -5.97e-5,3.3108 2.704745,6.015625 6.015625,6.015625 1.313713,0 2.52777,-0.43177 3.519531,-1.152344 L 21.15625,22.5 22.5,21.158203 18.378906,17.037109 C 19.100377,16.044987 19.531274,14.830208 19.53125,13.515625 19.531244,10.204725 16.82646,7.5 13.515625,7.5 Z m 0,1.9003906 c 2.284255,0 4.11523,1.8309344 4.115234,4.1152344 4.2e-5,2.2842 -1.830947,4.115234 -4.115234,4.115234 -2.284287,0 -4.1152755,-1.831034 -4.1152344,-4.115234 3.9e-6,-2.2843 1.8309794,-4.1152344 4.1152344,-4.1152344 z" />
      </svg>
    </label>
    <input class="search search-input gray fuzzy-search" id="search" placeholder="Search for an emoji..." />
  </div>

  <ul class="filter-groups center" id="js-filter">
    <li data-group="all">All</li>
    {% for group in site.emojis %}
      <li data-group="{{ group.name | slugify }}">{{ group.name }}</li>
    {% endfor %}
  </ul>

  <!-- <ul class="list center">
    {% for group in site.emojis %}
      {% for emoji in group.emojis %}
        <li class="list-item" data-group="{{ group.name | slugify }}">
          <div class="emoji">{{ emoji.html }}</div>
          <h4 class="name">{{ emoji.name }}</h4>
          <section class="list-item-code">
            <code class="html">{{ emoji.html }};</code>
            <code class="hex">{{ emoji.hex }};</code>
          </section>
        </li>
      {% endfor %}
    {% endfor %}
  </ul> -->
  <ul class="list center">
    {% for group in site.emojis %}
      {% for emoji in group.emojis %}
        <li class="list-item" data-group="{{ group.name | slugify }}">
          <div class="emoji e1a-{{ emoji.hex | remove: '&#x' }}"></div>
          <h4 class="name">{{ emoji.name }}</h4>
          <section class="list-item-code">
            <code class="html">{{ emoji.html | escape }};</code>
            <code class="hex">{{ emoji.hex | escape }};</code>
          </section>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

</section>

<script src="{{ 'js/list-options.js' | prepend: site.baseurl }}"></script>
