---
layout: default
---

<!--- List Section --->
<section id="emoji-list">

  {% include search.html %}

  <ul class="list center">
    {% for group in site.emojis %}
      {% for emoji in group.emojis %}
        <li class="list-item" data-group="{{ group.name | slugify }}">
          <div class="emoji">
            <div class="emojione-{% if emoji.img %}{{ emoji.img }}{% else %}{{ emoji.hex | remove: '&#x' | replace: ';', '-' }}{% endif %}"></div>
          </div>
          <h4 class="name">{{ emoji.name }}</h4>
          <section class="item-actions">
            <a href="http://emojipedia.org/{{ emoji.html }}" target="_blank" data-tooltip="Emojipedia" class="material-icons">
              import_contacts
            </a>
            <div class="item-copy link material-icons" data-tooltip="Copy" data-copy="{{ emoji.html }}">
              content_paste
            </div>
          </section>
          <section class="list-item-code codes-top">
            <code class="html">{{ emoji.html | escape }};</code>
            <code class="hex">{{ emoji.hex | escape }};</code>
          </section>
          <section class="list-item-code codes-bottom">
            <code class="unicode">{{ emoji.uni }}</code>
            {% if emoji.shor %}
              <code class="short">{{ emoji.shor }}</code>
            {% endif %}
          </section>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

</section>

<script src="{{ 'js/list.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/clipboard.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/scripts.js' | prepend: site.baseurl }}"></script>
