<footer class="footer gray-5 center">
  <div class="footer-grid">
    <div class="footer-column">
      <h5>Contribute</h5>
      <a href="{{ site.links.github }}" target="_blank">GitHub Repo</a>
      <a href="{{ site.links.github }}/issues/new" target="_blank">Submit an issue</a>
      <a href="{{ site.links.ph }}" target="_blank">Upvote on ProductHunt</a>
    </div>
    <div class="footer-column">
      <h5>Author</h5>
      <a href="{{ site.author.website }}" target="_blank">Website</a>
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">Twitter</a>
      <a href="https://dribbble.com/{{ site.author.dribbble }}" target="_blank">Dribbble</a>
    </div>
    <div class="footer-column">
      <h5>Share</h5>
      <a href="{{ site.share.twitter }}">Twitter</a>
      <a href="{{ site.share.facebook }}">Facebook</a>
    </div>
  </div>
  <p>&copy; 2016 {{ site.author.name }}. Emojist does not have any relation with Emojipedia and Emojione.</p>
</footer>
