<section class="search-container bg-gray-2">
  <div class="search-form bg-gray-3">
    <label class="search-label material-icons" for="search">
      search
    </label>
    <input id="search" class="search search-input gray-5" placeholder="Type the name or the entry of any emoji" autofocus />
  </div>
  <ul class="filter bg-gray-2" id="js-filter">
    <li class="title link" data-group="all">
      All
    </li>
    {% for group in site.emojis %}
      <li class="material-icons link" data-group="{{ group.name | slugify }}" data-tooltip="{{ group.name }}">
        {{ group.icon }}
      </li>
    {% endfor %}
  </ul>
</section>
