/* --- Text Color --- */
.yellow { color: $yellow; }
.black  { color: $black; }
.gray   { color: $gray; }
.silver { color: $silver; }
.snow   { color: $snow; }
.white  { color: $white; }

.blue   { color: $blue; }
.black  { color: $black; }
.gray-5 { color: $gray-5; }
.gray-4 { color: $gray-4; }
.gray-3 { color: $gray-3; }
.gray-2 { color: $gray-2; }
.gray-1 { color: $gray-1; }
.white  { color: $white; }

/* --- Background Color --- */
.bg-yellow { background-color: $yellow; }
.bg-black  { background-color: $black; }
.bg-gray   { background-color: $gray; }
.bg-silver { background-color: $silver; }
.bg-snow   { background-color: $snow; }
.bg-white  { background-color: $white; }

.bg-blue   { background-color: $blue; }
.bg-black  { background-color: $black; }
.bg-gray-5 { background-color: $gray-5; }
.bg-gray-4 { background-color: $gray-4; }
.bg-gray-3 { background-color: $gray-3; }
.bg-gray-2 { background-color: $gray-2; }
.bg-gray-1 { background-color: $gray-1; }
.bg-white  { background-color: $white; }

/* --- Font Family --- */
.sans  { font-family: $sans; }
.title { font-family: $title; }
.mono  { font-family: $mono; }

/* --- Text Align --- */
.center { text-align: center; }

/* --- Display --- */
.hidden {
  display: none;
}
