/* --- Colors --- */
$yellow: #FFBF19;
$black:  #1B1D23;
$gray:   #70727B;
$silver: #E6E8E9;
$snow:   #F2F3F4;
$white:  #FBFCFD;

/* --- Font Family --- */
$sans:  "Catamaran", "Helvetica", "Arial", sans-serif;
$title: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
$mono:  "Inconsolata", "Consolas", monospace;

/* --- Font Weight --- */
$book:   400;
$medium: 500;
$bold:   700;
$u-bold: 800;
$heavy:  900;

/* --- Base --- */
$base-fs: 20;

/* --- Wrapper --- */
$wrapper-width: 1200px;
