// Header
header {
  display: flex;
  align-items: center;
  padding: em(25) 0;
  border-bottom: 2px solid $gray-3;
}

// Logo
.header-logo {
  display: flex;
  flex: 1;
  user-select: none;
  svg {
    height: rem(50);
    padding-right: em(8);
    fill: $blue;
  }
  &-link {
    &:hover {
      opacity: 0.5;
    }
  }
  sup {
    margin-left: rem(5);
  }
}

// Navigation
.header-nav {
  a:not(:last-child) {
    margin-right: em(15);
  }
}
