// List
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% + #{rem(25)});
  margin-left: -#{rem(12.5)};
  list-style: none;
  &-item {
    display: flex;
    flex: 1 0 rem(220);
    flex-direction: column;
    margin: rem(25) rem(12.5) 0;
    background-color: $gray-2;
    .emoji {
      width: rem(65);
      height: rem(65);
      margin: rem(15) auto;
    }
    h4 {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    &-code {
      display: flex;
      code {
        flex: 1;
        &:not(:first-child) {
          border-left: 1px solid $gray-4;
        }
      }
      &.codes-top {
        border-bottom: 1px solid $gray-4;
      }
    }
  }
}

// Actions
.item-actions {
  display: flex;
  background: $gray-1;
  border-bottom: 1px solid $gray-4;
  a, .item-copy {
    flex: 1;
    height: rem(40);
    padding: rem(10);
    &:not(:last-child) {
      border-right: 1px solid $gray-4;
    }
  }
}
