// Search Bar
.search {
  &-container {
    display: flex;
    @media (max-width: $break-large) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-form {
    display: flex;
    flex: 1;
    height: rem(60);
    @media (max-width: $break-large) {
      width: 100%;
    }
  }
  &-input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
    font-size: em(20);
  }
  &-label {
    width: rem(60);
    height: 100%;
    padding: rem(10);
  }
}

// Filters
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  li {
    width: rem(60);
    height: rem(60);
    float: left;
    &:first-child {
      font-weight: 900;
      text-transform: uppercase;
    }
    @media (min-width: $break-medium) {
      &:not(:last-child) {
        border-right: 2px solid $gray-4;
      }
    }
  }
}
